@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,600,600i,800');
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
h1,h2,h3,h4,h5,h6 {
	color: white;
}
p {
	color: white;
}

.gallery_col {
  width: 100vw;
  position: relative;
  left: 50%;
  height: 100%;
  margin-left: -50vw;

}
/*========gallery============*/

#register-page .navigation a:hover {
	text-decoration: underline;
}
#hero .item.active:hover h1.front-title {
	display: none;
}
.item:not(.active) h1.front-title, .item:not(.active) p{
	display: block;
	z-index: 5;
}


#hero .item h1.front-title {
	width: 100%;
	height: 100%;
	display: inline-block;
  	position: absolute;
	top: 0%;
	left: 0%;
	padding: 0;
	padding-top: 16%;
	margin: 0;
	text-align: center;
    line-height: 1.5em;
	font-weight: 800;
	font-size: 20px; 
	font-family: 'Montserrat', sans-serif;
    color:white;
	background: rgba(0,0,0,0.3);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);

}
.shade  {
	display: block;
	position: absolute;
	z-index: 3;
    left: 0px;
    width: 100%;
    top: 0;
    height: 100%;
    text-align: center;
    color: #fff;
    line-height: 1.6em;
    background: rgba(0, 0, 0, 0.5);
	padding: 15px;
}
.item h1.back-title {
	font-weight: 300;
	width: 50%;
	display: block;
	position: relative;
	text-align: center;
	padding: 20px 0 25px 0;
	top: 25%;
	left: 25%;
    line-height: 1.5em;
	font-size: 20px; 
	font-family: 'open-sans';
	border: 1px solid white;
	font-style: italic;
}
#hero .item p {
	display: block;
	text-align: center;
	position: relative;
	top: -20px;
    line-height: 1.6em;
	font-weight: 300;
	font-size: 10px; 
	font-family: 'lato';
	text-transform: uppercase;
	padding-top: 40px;
	z-index: 999;
}

.gallery-container {
	width: 100%;
	height: 100vh;
	-webkit-box-sizing: border-box;
		  box-sizing: border-box;
	position: relative;
	overflow: hidden;
	padding: 45px;
	background-color: #f3eeeb;;
/*
	border: 10px solid white;
	padding-left: 33.3px;
	padding-right: 33.3px;
	padding-top: 33.3px;
	padding-bottom: 33.3px;
*/
}
.gallery-container:before {
  content: "";
  position: absolute;
  top: 33.33%;
  width: 100%;
  height: 33.33vh;
  border-top: 15px solid #f3eeeb;;
  border-bottom: 15px solid #f3eeeb;;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
}
.gallery-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 33.33%;
  width: 33.33vw;
  height: 100%;
  border-left: 15px solid #f3eeeb;;
  border-right: 15px solid #f3eeeb;;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
}
.gallery-container .items-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	*zoom: 1;
	z-index: 1;

}
.gallery-container .overlay-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f3eeeb;;
	background-size: cover;
	background-position: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(1);
		  transform: scale(1);
/*
  -webkit-transition: visibility 0s ease 0.5s,  opacity 0.5s ease,  background 0.5s ease,  -webkit-transform 0.01s ease;
  transition: visibility 0s ease 0.5s,  opacity 0.5s ease,  background 0.5s ease,  -webkit-transform 0.01s ease;
  transition: visibility 0s ease 0.5s,  opacity 0.5s ease,  background 0.5s ease,  transform 0.01s ease;
  transition: visibility 0s ease 0.5s,  opacity 0.5s ease,  background 0.5s ease,  transform 0.01s ease,  -webkit-transform 0.01s ease;
*/
  z-index: 2;
  pointer-events: none;
	
}
.gallery-container .overlay-image.active {
	border: 45px solid #f3eeeb;
	visibility: visible;
	-webkit-transition-delay: 0s;
		  transition-delay: 0s;
	opacity: 1;
		  transform: scale(1);
	-webkit-transition: visibility 0s,  opacity 0.5s,  background 0.5s ease,  -webkit-transform 4.5s ease;
	transition: visibility 0s,  opacity 0.5s,  background 0.5s ease,  -webkit-transform 4.5s ease;
	transition: visibility 0s,  opacity 0.5s,  background 0.5s ease,  transform 4.5s ease;
	transition: visibility 0s,  opacity 0.5s,  background 0.5s ease,  transform 4.5s ease,  -webkit-transform 4.5s ease;
}
.gallery-container .item {
	width: 33.33%;
	height: 33.33%;
	float: left;
	overflow: hidden;
	-webkit-box-sizing: border-box;
		  box-sizing: border-box;
	position: relative;
	cursor: pointer;
	align-content: center;
	text-decoration: none !important;
}
.gallery-container .item img {
	background-size: contain;
	display: block;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: -9999px;
	right: -9999px;
	bottom: -9999px;
	left: -9999px;
	margin: auto;
}
 .item.active {
  width: 33.33%;
  height: 33.33%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.gallery-container .item.active img {
	z-index: 3;
	opacity: 0;
}
.gallery-container .item.active {
	z-index: 3;
    background: #e02326;
}

.outro .gallery-container a {
	border-color: transparent;
	transition: border .5s, background .5s;
}

.outro .gallery-container a:hover,
.outro .items-container.active .gallery-container a:hover {
	border: none;
	background: pink !important;
	transition: border .5s;
}
.outro h1, .outro span, .outro .item .separetor, .outro p {
	opacity: 0;
	transition: 1s ease ;
	border-color: transparent;
}
.outro {
	transition: 1s all ease-out 2s;
}

.outro .gallery-container  {
	transition: 1s ease 0.5s ;
	opacity: 0.5;
	border: none;
}

.outro .gallery-container:after, .outro .gallery-container:before, .outro .item  {
	opacity: 0;
	transition: 1.5s ease;
	border-color: transparent;
}
.outro .overlay-image.active, .outro .item.active {
	cursor: default;
}

.container_items {
	display: grid;

}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	margin-left: -40px;
	border-top: 2px solid #e02326;
	border-right: 2px solid transparent;
    border-radius: 50%;
	z-index: 9;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





























